* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(0deg, #c061cb 0%, #c061cb 26%, #ffffff 100%);
  margin: 0;
}

