#menu_container {
    display: flex;
    width: 40%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dfbedf;
    padding: 20px;
    border: 2px solid rgb(128, 3, 128);
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #FFFFFF;
}

h1 {
    color: white;
}

button {
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(128, 3, 128);
    color: rgb(255, 255, 255);
}

.modal_container {
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;             
  align-items: center;       
  justify-content: center; 
}

.show-modal {
  opacity: 1;
  pointer-events: auto;
}

#join_modal {
  position: relative;
  background-color: rgb(255, 255, 255);
  border: 2px solid darkmagenta;
  border-radius: 10px;
  color: rgb(85, 1, 85);
  padding: 30px 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  width: 600px;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}